doctype html
html
  head
    title Alain Dance Academy
    block scripts
    block style
  body
    nav#navbar
         ul
             div#logo
                 img(src="/static/img/logo.png")
                 | ADA 
             li #[a(href="/") Home ]
             li #[a(href="/") About]
             li #[a(href="/") Services]
             li #[a(href="/") Class Info]
             li #[a(href="/Contact") Contact Us]
    
    block content
    footer#footer 
        | copyright © 2023 AlainDanceAcademy.com | All rights reserved
      
        